<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">


      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>


      <button class="navbar-burger" data-target="topbar-nav">
        <span><img src="{{uiRootPath}}/img/sbo-logo.svg" alt="sbo logo"></span>
        <span></span>
        <span></span>
      </button>

    </div>
    <div id="topbar-nav" class="navbar-menu">

      <div class="navbar-end">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">User Guide</a>
      <a class="navbar-item" href="{{site.url}}/devguide">Developer Guide</a>
      </div>
    </div>
  </nav>
</header>